<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel='icon' href="/img/weather.png">

    </head>
    <body>
        <div class="main-content">
        <h1>{{>header}}</h1>
        {{!-- <p>{{message}}</p> --}}
        <p class="help-message">For any queries, Contact: 7050109992</p>
        <p class="help-message">You can mail me at: ankitagrawal700aa@gmail.com</p>

        </div>
        {{>footer}}

    </body>
</html>