<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel='icon' href="/img/weather.png">

    </head>
    <body>
        <div class="main-content">
        <h1>{{>header}}</h1>
        <p>{{message}}</p>
        <p>For any queries, Contact: 7050109992</p>

        </div>
        {{>footer}}

    </body>
</html>