@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    width: 50vw;
    margin: 0 auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1199px) {
    body {
        width: 90vw;
        align-items: center;
    }
}

.main-content {
    flex-grow: 1;
}

h1 {
    margin-top: 0;
    color: black;
    font-size: 5rem;
    margin-bottom: 2rem;
}

ul {
    padding: 5px 10px 1rem;
}

nav li {
    display: inline;
    margin-right: 2rem;
}
nav {
    padding-bottom: 2rem;
}
a {
    color: rgb(133, 133, 133);
    text-decoration: none;
    font-size: 1.2rem;
}

.location {
    font-size: 1.3rem;
}

.description-image {
    font-size: 2rem;
    /* display:none; */
    max-height: 3.5rem;
}
.temp {
    font-size: 4.5rem;
}
sup {
    font-size: 1.5rem;
}

footer {
    padding: 1rem 1rem;
    color: rgb(110, 108, 108);
    border-top: solid gray 1px;
}

input {
    min-width: 30%;
    min-height: 1.5rem;
    border-radius: 6px;
    padding-left: 8px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0.5rem;
}

button {
    cursor: pointer;
    min-width: 10%;
    min-height: 1.89rem;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(30, 52, 122);
    color: honeydew;
    border-radius: 5px;
}

/* for about page  */
.logos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    margin: 2rem;
    margin-top: auto;
    font-size: 3.5rem;
    /* padding: 2rem auto 2rem auto; */
}

.git-logo:hover {
    color: rgb(32, 23, 23);
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.fb-logo:hover {
    color: rgb(79, 79, 184);
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 1.5rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.insta-logo:hover {
    color: rgb(255, 36, 208);
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.linkedin-logo:hover {
    color: rgb(24, 24, 128);
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.logo > a {
    font-size: 2rem;
}

#about-desc {
    font-size: 1.25rem;
}

/* help page */
.help-message {
    font-size: 1.3rem;
}
